

.axisX .tick line{
	stroke:#F1EAEA;
    stroke-width:.1px;

}

.axisX .tick text{
	stroke:#F1EAEA;
    stroke-width:.5px;
    font-size:2px;

}
.axisYSad .tick text{
	stroke:#F1EAEA;
    stroke-width:.1px;
   

}
.axisYJoy .tick text{
    stroke:#F1EAEA;
    stroke-width:.1px;
   

}

.axisYSad .tick line{
    stroke:#F1EAEA;
    stroke-width:.1px;
   

}
.axisYJoy .tick line{
    stroke:#F1EAEA;
    stroke-width:.1px;
   

}


.btn-group{
	margin-left:450px; 
    margin-top:-50px;
}

.emoall{
	margin-left:700px;
	margin-top:-110px;
}

.domain{
	stroke:#F8F4EF;
    stroke-width:.0px;

}



.Node1{
    stroke:black;
    stroke-width:0px;
}

.Node2{
    stroke:#C55D4F;
    stroke-width:0px;
}
.Node3{
    stroke:black;
    stroke-width:0px;
}


.container{
	margin: 20px;
}

.highlight circle{
    stroke:blue;
    stroke-width:2px;
}

.title {
    font-size: 12px; 
    text-anchor: end;
  }


body {
  font-family: Arial, Helvetica, sans-serif;
}

#container2 {
  width: 1200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.movieContainer{
  width: 500px;
  height: 200px;
  display: flex;
 
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;

  justify-content: flex-start;
  box-shadow: 1px 1px 3px hsla(0,0%,50%,0.5);
  align-items: center;
  padding: 1em;
  margin: 1em;
}

img{
    width:400px;
    position:absolute;
    top:400px;
    left:300px;
}
.emoall{
    width:1000px;
    height:740px;
    margin-left:100px;
    margin-top:-710px;
}




