

h1{
    color: #F1EAEA;
    margin-left:80px;
}

#words {
    top:300px;
    right:0;
    float:left;
    position: fixed;
    z-index: 2;
    display: block;
    width: 460px;
    font-size: 13.2px; 
}

#key1 {
    opacity: 0;
}

#Movie-tides{
    background-color: #222D33;
    border: none; 
    opacity:0.9; 
    margin-left:-380px; 
    margin-top:50px;
    display: inline-block; 
}
#Movie-tides:hover{
    background-color:#7995C3;
    color:#F1EAEA;
}


#Movie-emotions{
    background-color: #222D33; 
    border: none; 
    opacity:0.9;
    margin-left:-270px; 
    margin-top:50px; 
    display: inline-block; 
   
}
#Movie-emotions:hover{
    background-color:#7995C3;
    color:#F1EAEA;
}


.axisYSad .tick text{
	fill: #F1EAEA;
    stroke-width:.1px;
    font-size:8px;
    opacity:0.7;
    margin-left:30px;
 
    
   

}
.axisYJoy .tick text{
    fill: #F1EAEA;
    stroke-width:.1px;
    font-size:8px;
    opacity:0.7;
    
   
   

}


.axisYSad .tick line{
    stroke:#F1EAEA;
    stroke-width:.35px;
    stroke-dasharray:2,2;
   

}
.axisYJoy .tick line{
    stroke:#F1EAEA;
    stroke-width:.35px;
    stroke-dasharray:2,2;
   

}


.btn-group{
	margin-left:450px; 
    margin-top:-50px;
}



.domain{
	stroke:#F8F4EF;
    stroke-width:.0px;

}




.container{
	margin: 20px;
}



.title {
    font-size: 12px; 
    text-anchor: end;
  }

.title2 {
    font-size: 12px; 
    text-anchor: end;
  }




body {
  font-family: Arial, Helvetica, sans-serif;
}



